body{
  background-image: url(../DokiDoki/imgs/fundo.png); /*imagem de fundo*/
  align-items: center;
  justify-content: center;
}

/*cabeçalho*/
#cabeca{
  background-color: rgb(255, 193, 217);/*cor do fundo*/
  height: 100px;/*altura*/
  padding: 20px;/*espaçamento inetrno*/
  color: white;/*cor das letras*/
  clear: both;/*impede que outros elementos se posicionem aos seus lados(esquqqedo e direito)*/
}

/*imagem logo*/
.logo{
  float: left;/*desloca o elemento*/
  width: 110px;/*largura*/
  height: 110px;/*altura*/
  position: static;/*como a imagem se comporta*/
  padding-top: 0px;/*espaçamento interno(topo)*/
  padding-bottom: 20px;/*espaçamento inetrno(base)*/
}

/*titulo*/
.titulo{
  font-family:cursive;/*estilo da fonte*/
  font-size: 37px;/*tamanho da letras*/
  text-align: center;/*alinhamneto do texto*/
  padding-right: 50%;/*espaçamento interno(direita)*/
  padding-left: 42%;/*espacamento interno(esquerda)*/
}

/*botão voltar*/
.voltar{
color: rgb(174, 12, 131);/*cor das letras*/
text-decoration: none;/*decorações do texto(sublinhado)*/
font-family: cursive;/*estilo da fonte*/
font-size: 25px;/*tamanho das letras*/
text-align: right;/*alinhamento do texto*/
float: right;/*deslocamento do elemento*/
}
/*botão voltar(ao passar o mause por cima*/
.voltar:hover{
color: rgb(255, 193, 217); /*cor das letras*/
}

/*imagem das personagens*/
 .n, .y,.m{
  height: 250px;
  width: 250px; /* Define a largura da imagem */
  margin-right: 20px; /* Adiciona espaçamento à direita da imagem */
  align-items: center;
  margin-left: 400px;
}

.s{
  height: 250px;
  width: 250px; /* Define a largura da imagem */
  margin-right: 20px; /* Adiciona espaçamento à direita da imagem */
  align-items: center;
  margin-left: 280px;
}

.row1, .row2, .row3, .row4 {
  display: flex; /* Ativa o Flexbox para alinhar os elementos */
  align-items: center; /* Alinha verticalmente os elementos ao centro */
  text-align: center; /* Centraliza o texto dentro da div */
  padding: 20px; /* Adiciona espaçamento interno */
}

/*nome das personagens*/
.tituloS, .tituloY, .tituloN, .tituloM{
  text-align: left;
  align-items: left;
  color: rgb(174, 12, 131);/*cor das letras*/
  font-family: cursive;
}


/*textos sobre as personagens*/
.tY, .tM, .tN, .tS{
  color: rgb(174, 12, 131);/*cor das letras*/
  font-family: cursive;/*estilo de fonte*/
  text-align: justify ;/*alinhamento do texto*/
}


.Ss, .Nn, .Yy, .Mm {
  flex: 1;
}




