body{
  background-image: url(../DokiDoki/imgs/fundo.png); /*imagem de fundo*/
}

/*titulo*/
.titulo{
    
}

/* div do botão voltar*/
#volte{
  float: right;/*desloca o elemento*/
  height: 40px;/*altura*/
  text-align: right;/*alinhamento do texto*/
  padding-bottom: 5px;/*espaçamento inetrno(base)*/
  clear: both;/*impede que outros elementos se posicionem aos seus lados(esquqqedo e direito)*/
}
/*botão voltar*/
.voltar{
  color: rgb(174, 12, 131);/*cor das letras*/
  text-decoration: none;/*decorações do texto(sublinhado)*/
  font-family: cursive;/*estilo da fonte*/
  font-size: 25px;/*tamanho das letras*/
  text-align: right;/*alinhamento do texto*/
  float: right;/*deslocamento do elemento*/
}
/*botão voltar(ao passar o mause por cima*/
.voltar:hover{
color: rgb(255, 193, 217); /*cor das letras*/
}

/*div da imagem das personagens*/
#meninas{
  width: 23%;/*largura*/
  height: 1000px;/*altura*/
  float: left;/*deslocamento da fonte*/
}

/*imagem das personagens*/
.s, .y, .n{
  width: 290px;/*largura*/
  height: 290px;/*altura*/
}

/*imagem de um das personagnes(esta em tamanho diferente, por isso foi separado)*/
.m{
  width: 295px;/*largura*/
  height: 295px;/*altura*/
}

/*div dos textos*/
#textos{
  width: 50%;/*largura*/
  height: 1000px;/*altura*/
  float: left;/*deslocamento do elemento*/
}

/*textos sobre as personagens*/
.tS, .tY, .tM, .tN{
  color: rgb(174, 12, 131);/*cor das letras*/
  font-family: cursive;/*estilo de fonte*/
  margin-bottom: 170px;/*margem(base)*/
  margin-top: 75px;/*margem(topo)*/
  margin-right: 40px;/*margem(direita)*/
  padding-right: 40px;/*espacamento interno(direito)*/
  text-align: justify;/*alinhamento do texto*/
}

.navbar{
  background-color: rgb(255, 193, 217); 
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
    float: left;/*desloca o elemento*/
    width: 110px;/*largura*/
    height: 110px;/*altura*/
    position: static;/*como a imagem se comporta*/
    padding-top: 1px;/*espaçamento interno(topo)*/
    padding-bottom: 20px;/*espaçamento inetrno(base)*/
}


.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family:cursive;/*estilo da fonte*/
  font-size: 37px;/*tamanho da letras*/
  text-align: center;/*alinhamneto do texto*/
}

.apersonagens{
  font-family:cursive;/*estilo da fonte*/
    font-size: 37px;/*tamanho da letras*/
    text-align: center;/*alinhamneto do texto*/
    padding-right: 50%;/*espaçamento interno(direita)*/
    padding-left: 42%;/*espacamento interno(esquerda)*/
}
/*.menu li{
  margin-left: 20px;
}*/


.dropdown{
  position: relative;
}

.dropdown-content{
  color: white;
  display: none;
  position: absolute;
  background-color: rgb(255, 193, 217);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px
  rgb(255, 193, 217);  
  z-index: 1;
}

.dropdown:hover, .dropdown-content {
  display: block;
  background-color: rgb(255, 193, 217);
  color: rgb(174, 12, 131);
}

.menuSuspenso{
  color:rgb(255, 193, 217);
  font-family: cursive;
}

