body{
  background-image: url(../DokiDoki/imgs/fundo.png); /*imagem de fundo*/
}

/*cabeçalho*/
#cabeca{
  background-color: rgb(255, 193, 217);/*cor do fundo*/
  height: 100px;/*altura*/
  padding: 20px;/*espaçamento inetrno*/
  color: white;/*cor das letras*/
  clear: both;/*impede que outros elementos se posicionem aos seus lados(esquqqedo e direito)*/
}

/*imagem logo*/
.logo{
  float: left;/*desloca o elemento*/
  width: 110px;/*largura*/
  height: 110px;/*altura*/
  position: static;/*como a imagem se comporta*/
  padding-top: 0px;/*espaçamento interno(topo)*/
  padding-bottom: 20px;/*espaçamento inetrno(base)*/
}

/*titulo*/
.titulo{
  font-family:cursive;/*estilo da fonte*/
  font-size: 37px;/*tamanho da letras*/
  text-align: center;/*alinhamneto do texto*/
  padding-right: 50%;/*espaçamento interno(direita)*/
  padding-left: 42%;/*espacamento interno(esquerda)*/
}

/* div do botão voltar*/
#volte{
float: right;/*desloca o elemento*/
height: 40px;/*altura*/
text-align: right;/*alinhamento do texto*/
padding-bottom: 5px;/*espaçamento inetrno(base)*/
clear: both;/*impede que outros elementos se posicionem aos seus lados(esquqqedo e direito)*/
}
/*botão voltar*/
.voltar{
color: rgb(174, 12, 131);/*cor das letras*/
text-decoration: none;/*decorações do texto(sublinhado)*/
font-family: cursive;/*estilo da fonte*/
font-size: 25px;/*tamanho das letras*/
text-align: right;/*alinhamento do texto*/
float: right;/*deslocamento do elemento*/
}
/*botão voltar(ao passar o mause por cima*/
.voltar:hover{
color: rgb(255, 193, 217); /*cor das letras*/
}

/*imagem das personagens*/
.s, .n, .y{
  width: 200px; /* Define a largura da imagem */
  margin-right: 20px; /* Adiciona espaçamento à direita da imagem */
}


/*imagem de um das personagnes(esta em tamanho diferente, por isso foi separado)*/
.m{
  width: 200px; /* Define a largura da imagem */
  margin-right: 20px;
}

/*div dos textos
#textos{
  width: 50%;
  height: 1000px;
}*/

.row {
  display: flex; /* Ativa o Flexbox para alinhar os elementos */
  align-items: center; /* Alinha verticalmente os elementos ao centro */
  text-align: center; /* Centraliza o texto dentro da div */
  padding: 20px; /* Adiciona espaçamento interno */
}

/*nome das personagens*/
.tituloS{
  text-align: left;
  align-items: left;
}


/*textos sobre as personagens*/
.tY, .tM, .tN, .tS{
  color: rgb(174, 12, 131);/*cor das letras*/
  font-family: cursive;/*estilo de fonte*/
  margin-bottom: 170px;/*margem(base)*/
  margin-top: 75px;/*margem(topo)*/
  margin-right: 40px;/*margem(direita)*/
  padding-right: 40px;/*espacamento interno(direito)*/
  text-align: justify;/*alinhamento do texto*/
}


.Ss, .Nn, .Yy, .Mm {
  flex: 1;
}




