/* Título */
.titulo {
    font-family:cursive;/*estilo da fonte*/
    font-size: 20px;/*tamanho da letras*/
    text-align: center;/*alinhamneto do texto*/
    padding-right: 40%;/*espaçamento interno(direita)*/
    padding-left: 40%;/*espacamento interno(esquerda)*/
}
